<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }

p.paper_txt {
  font-size: 23px;
  color: #000;
  }


</style>
</head>

<style type="text/css" media="all">
    ul {font-size: 17px;}
</style>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
    

    <H3 style="margin-bottom: 0;"> Education </h3>
    <ul style="margin-top: 13px;">
      <li>Apr 2017 - Present  : Postdoctoral in project ANTAREX, FEUP </li>
      <li>Oct 2015 - Feb 2017 : Postdoctoral at IC4, Dublin City University (DCU)</li>
      <li>Feb 2011 - Aug 2015 : PhD in Computer Science, University of Porto</li>
    </ul>    

    <H3 style="margin-bottom: 0;"> Visiting Scholar </h3>
    <ul style="margin-top: 13px;">
      <li>IN2P3 Computing Center, Lyon (France), June 2012, funded by COST Action on Open European Network for High Performance Computing on Complex Environments (COST Action IC0805 ComplexHPC)</li>
      <li>Distributed and Parallel Systems Group (DPS), University of Innsbruck, Austria, October 2014, as part of the Short Term Scientific Mission (STSM) supported by the Network for Sustainable Ultrascale Computing (NESUS) COST Action</li>
    </ul>  

    <H3 style="margin-bottom: 0;"> Program Committee Member </h3>
    <ul style="margin-top: 13px;">
      <li>The 15th International Workshop on Algorithms, Models and Tools for Parallel Computing on Heterogeneous Platforms (HeteroPar'17)</li>
      <li>The 8th IEEE International Conference on Cloud Computing Technology and Science (CloudCom'16)</li>      
      <li>The 7th IEEE International Conference on Cloud Computing Technology and Science (CloudCom'15)</li>      
      <li>The 6th International Conference On Cloud Computing : Services and Architecture (CLOUD 2017)</li>
      <li>Doctoral Symposium on Informatics Engineering (DSIE’2012)</li>
    </ul>  


    <H3 style="margin-bottom: 0;"> Journal Reviewer </h3>
    <ul style="margin-top: 13px;">
      <li>IEEE Transactions on Parallel and Distributed Systems (TPDS)</li>
      <li>Future Generation Computer Systems (FGCS),  Elsevier</li>
      <li>Concurrency and Computation: Practice and Experience, Wiley</li>
      <li>Simulation Modelling Practice and Theory, Elsevier</li>
      <li>Journal of Engineering Computations, Emerald Group Publishing Limited</li>
      <li>International Journal of Advanced Intelligence Paradigms (IJAIP)</li>
      <li>Iranian Journal of Electrical and Computer Engineering (IJECE)</li>
      <li>International Journal of Engineering and Technology Innovation (IJETI)</li>
      <li>International Journal of Advanced Intelligence Paradigms</li>
    </ul>  


    <br>
    <br>
    <br>

    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->


{% include _scripts.html %}          

</body>
</html>
