<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
<style>
  .bottom-three {
     margin-bottom: 1.5cm;
   }
  .bottom-small {
     margin-bottom: 1cm;
   }

p.paper_txt {
  font-size: 23px;
  color: #000;
  }


</style>
</head>

<style type="text/css" media="all">
    ul {font-size: 17px;}
</style>

<body class="page">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}
<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">

    <H3 style="margin-bottom: 0;"> Some useful links </h3>
    <ul style="margin-top: 13px;">
      <li><a href="http://www.guide2research.com/topconf/" target="_blank">Top Computer Science Conferences</a> </li>
      <li><a href="https://en.wikipedia.org/wiki/List_of_computer_science_conferences" target="_blank">List of computer science conferences - wikipedia</a> </li>
      <li><a href="http://www.guide2research.com/journals/" target="_blank">Top Journals for Computer Science and Electronics</a> </li>
      <li><a href="http://www.cloudbus.org/grid_conf.html" target="_blank">Key Conferences In Parallel/Cluster/Distributed/Grid Computing And Networking</a> </li>
      <li><a href="https://aminer.org/ranks/conf" target="_blank">Journal and Conference ranking in Computer Science</a> </li>

    </ul> 


    <br>
    <br>
    <br>

    
    {{ content }}
    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->


{% include _scripts.html %}          

</body>
</html>
